html,body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #000;
	color: #fff;
}
/* Title and link to github */ 
.title {
	font-family: "Saira", sans-serif;
	font-size: calc(200%);
	margin-top: 0;
}
.attr {
	font-family: "Saira", sans-serif;
	text-decoration-thickness: 1px;
	color: #ddf;
	transition-property: text-shadow;
    	transition-duration: 0.5s;
}
.attr:hover {
	font-family: "Saira", sans-serif;
	text-decoration-thickness: 3px;
	text-shadow: 0.1em -0.1em #77f;
	color: #fff;
}
.container {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.middle {
	width: min(100%, 40em);
	padding: 2em;
	background-color: #111;
}

a.card {
	display: block;
	margin: 0;
	padding: 0.5em;
	height: 1.75em;
	font-size: min(6vw, 2.5em);
	line-height: 1em;
	text-decoration: none;
	font-family: inherit;
	color: inherit;
	transition-property: padding-left;
	transition-duration: 0.5s;
}
a.card:hover { padding-left: 1em; }

p {
	display: block;
	font-size: 0.55em;
	line-height: 0;
	margin: 0.5em;
	margin-top: 0.75em;
	text-decoration: none;
	font-family: inherit;
	color: inherit;
}


/* Slide in animation for tiles/cards */
@keyframes slidein {
  from {
    transform: translateX(100%);
	opacity: 0%;
  }
  to {
    transform: translateX(0%);
	opacity: 100%;
  }
}
/* Defualt attribs for all tiles */
.card {
	border-radius: 1em;
	opacity: 0;
	animation: 0.6s ease-in-out slidein forwards;
}

/* Each page has unique style */
.nasql {
	border: 2px solid #c99;
	background-color: #d7a;
	box-shadow: 0px 0px 1em #d57;
	font-family: "Saira", sans-serif;
	font-style: italic;
	animation-delay: 0.1s;
}
.nasql:hover {
	background-color: #f8a;
	box-shadow: 0px 0px 2em #e68;
	border-style: 1px dashed;
}

.solitaire {
	border: 4px dotted #c96;
	color: #400;
	background: linear-gradient(#da7, #fdb, #fdb, #da7);
	box-shadow: 0px 0px 1em #da6;
	font-family: "Federant", serif;
	font-weight: bold;
	animation-delay: 0.2s;
}
.solitaire:hover {
	background: linear-gradient(#ea7, #feb, #feb, #ea7);
	color: #853;
	box-shadow: 0px 0px 2em #fd7;
	border-style: 5px dotted #c96;
}

.crystal {
	border: 2px solid #7cc;
	color: #fff;
	background: linear-gradient(#8ad, #8c8);
	box-shadow: 0px 0px 1em #8aa;
	font-family: "Orbitron", sans-serif;
	animation-delay: 0.3s;
}
.crystal:hover {
	background: linear-gradient(#8be, #8e8);
	box-shadow: 0px 0px 2em #8aa;
	color: #fff;
}

.flatvox {
	border: 2px solid #ed0;
	color: #640;
	background: radial-gradient(#ff8, #fd5, #ea5);
	box-shadow: 0px 0px 1em #ea5;
	font-family: "Black Ops One", system-ui;
	font-weight: 400;
	font-style: normal;
	animation-delay: 0.4s;
}
.flatvox:hover {
	background: radial-gradient(#ffa, #fe8, #fd0);
	box-shadow: 0px 0px 2em #ff0;
	color: #960;
}

.abcquence {
	border: 2px solid #930;
	background: linear-gradient(to right, #f55, #f77, #f77, #fbc);
	box-shadow: 0px 0px 1em #e67;
	font-family: "Orbitron", sans-serif;
	font-style: italic;
	animation-delay: 0.5s;
}
.abcquence:hover {
	box-shadow: 0px 0px 3em #f58;
	background: linear-gradient(to right, #f77, #fcd);
}

.symbol {
	border: 2px dashed #ff07;
	color: #ff0;
	background-color: #66f;
	box-shadow: 0px 0px 1em #78f;
	text-shadow: 2px 3px 1px #050;
	font-family: "VT323", serif;
	animation-delay: 0.6s;
}
.symbol:hover {
	background-color: #59f;
	box-shadow: 0px 0px 2em #8af;
	text-shadow: 1px 1px 3px #351;
	color: #ff5;
}

.bubble {
	border: 2px solid #0f0;
	border-top: 2px solid #8f0;
	border-bottom: 2px solid #8f0;
	color: #040;
	background: linear-gradient(to right, #5e5, #de5, #3d7);
	box-shadow: 0px 0px 1em #6f6;
	text-shadow: 3px 3px 2px #ce7;
	font-family: "Syne Mono", monospace;
	font-weight: bold;
	animation-delay: 0.7s;
}
.bubble:hover {
	color: #052;
	background: linear-gradient(to right, #6e5, #df5, #4e8);
	box-shadow: 0px 0px 2em #af8;
}

.karnaugh {
	border: 2px solid #7f7;
	color: #fff;
	background: linear-gradient(#9f9, #aea);
	box-shadow: 0px 0px 1em #5f5;
	font-family: "Federant", serif;
	font-style: italic;
	animation-delay: 0.8s;
}
.karnaugh:hover {
	background: radial-gradient(#ffa, #fe8, #fd0);
	box-shadow: 0px 0px 2em #5f5;
	color: #960;
}
